@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to College System Management</h1>
    <img src="photos/depositphotos_68789187-stock-photo-students.jpg" />
</div>
