@model CollegeSystemSystem.Models.Grade

@{
    ViewData["Title"] = "Change Grade";
}

<h1>Change Grade</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
         
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="SubjectId" />
            <input type="hidden" asp-for="StudentId" />


            <div class="form-group">
                <label asp-for="StudentId" class="control-label"></label>
                <input asp-for="StudentId" class="form-control" disabled />

            </div>
            <div class="form-group">
                <label asp-for="Student.Name" class="control-label"></label>
                <input asp-for="Student.Name" class="form-control" disabled />

            </div>
            <div class="form-group">
                <label asp-for="Subject.SubjectName" class="control-label"></label>
                <input asp-for="Subject.SubjectName" class="form-control" disabled/>
                
            </div>
            <div class="form-group">
                <label asp-for="GradeNumber" class="control-label"></label>
                <input asp-for="GradeNumber" class="form-control" />
                <span asp-validation-for="GradeNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
