@model CollegeSystemSystem.Models.Student

@{
    ViewData["Title"] = "Edit Student";
}

<h1>Edit Student</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BirthDate" class="control-label"></label>
                <input asp-for="BirthDate" class="form-control" />
                <span asp-validation-for="BirthDate" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="CourseId" />
            <div class="form-group">
                <label asp-for="Course.CourseName" class="control-label"></label>
                <input asp-for="Course.CourseName" class="form-control" disabled/>
                <span asp-validation-for="Course.CourseName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
                <a class="btn btn-default" asp-action="Index">Back to List</a>
            </div>
        </form>
    </div>
</div>

<div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
